<header>
    <!-- Codeial -->
    <ul id="website-name">
        <a href="/" >
            <button>
                Codeial
            </button>
        </a>
    </ul>
    

    <ul id="website-menu">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile/<%= locals.user.id %>">
                   <button>
                    <%= user.name %>
                </button>
                </a>
            </li>
            <li>
                <a href="/users/sign-out"><button>Sign Out</button></a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/sign-in"><button>Sign In</button></a>
            </li>

            <li>
                <a href="/users/sign-up"><button>Sign Up</button></a>
            </li>

        <% } %>
    </ul>

</header>