footer{
    background-color: purple;
    color: yellow;
    font-size: 20px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    li{
    padding: 15px 0px;
    list-style-type: none;

    }
}