body{
    margin: 0;
    /* text-align: center; */
    position: static;

    main{

        height: fit-content;
        section{
        margin-top: 120px;
        margin-bottom: 80px;

        }
    }
}

